## QST23

<h1 style="
font-weight: 500; 
font-size: 3rem; 
color: rgba(159, 8, 186, 0.835)">
Basic Python
</h1>

In [2]:
print("Good afternoon, ya'll.")

Good afternoon, ya'll.

In [3]:
print("Today is a grat day to learn.")

Today is a grat day to learn.

In [4]:
print("That means")
print("The print command is important.")
print("When we want to print each line")

That means
The print command is important.
When we want to print each line

In [5]:
#This is a comment.

In [6]:
# In Python
# Comments are a best-practice when it comes to communicating to your future self and to fellow developers
print("Once the # at the beginning of this line is removed, this string will print.") # additional hashtags make additional comments

Once the # at the beginning of this line is removed, this string will print.

In [7]:
message = "Hello, Everybody!"
print(message)

Hello, Everybody!

In [8]:
favorite_quote = "If you can't solve a problem, then there is an easier problem you can solve:  find it."
print(favorite_quote)

If you can't solve a problem, then there is an easier problem you can solve:  find it.

In [9]:
favorite_food = "Fufu"
print("My favorite food is",favorite_food)

My favorite food is Fufu

In [10]:
favorite_food = "Jollof" 
print("I changed my mind. My favorite food is actually",favorite_food)

I changed my mind. My favorite food is actually Jollof

In [11]:
type(None)

NoneType

In [12]:
type(True)

bool

In [13]:
type(False)

bool

In [14]:
type(-99)

int

In [15]:
type(2.3)

float

In [16]:
# True and False are the only two Boolean values.
True
False

print(True)
print(False)

True
False

In [17]:
2**3

8

In [18]:
3*5

15

In [19]:
1/2

0.5

In [20]:
5%2

1

In [21]:
Type: 1/2

In [22]:
8%2

0

In [23]:
7%2

1

In [24]:
2**3

8

In [25]:
10**10

10000000000

In [26]:
100**100

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [27]:
2**-1

0.5

In [28]:
2 < 3

True

In [29]:
2 <= 2

True

In [30]:
2 < 2

False

In [31]:
4 <= 2

False

In [32]:
10 > 5

True

In [33]:


print("5 > 4 is",5 > 4)

5 > 4 is True

In [34]:
print(5 == 5)

print(-4 + 4 == 0)

True
True

In [35]:
print(5 == "5")

False

In [36]:
print("Hello" == "Goodbye")
print("Hello" != "Goodbye")

False
True

In [37]:
not True

False

In [38]:
# Truth table for AND
print("Truth Table for AND logic")
print("True and True is:", True and True)
print("True and False is:", True and False)
print("False and True is:", False and True)
print("False and False is:", False and False)

Truth Table for AND logic
True and True is: True
True and False is: False
False and True is: False
False and False is: False

In [39]:
# Boolean values assigned to variables 
right_here_now = True
learning_python = True
on_the_moon = False

# Ands need all values to be true for the entire expression to be True
print(right_here_now and on_the_moon)
print(learning_python or on_the_moon)

False
True

In [40]:
if (20 > 18):
  print('20 is greater than 18')

20 is greater than 18

In [41]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [42]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [43]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [44]:
# the "if" evaluates the code to the right to see if it returns True or False.
# If the code returns `True`, then we run the code that's indented below the if.

right_here_now = True

if right_here_now:
    print("So glad you made it today!")
    print("Wherever you go, there you are.")
else:
    print("You are not right here now.")
    
print("Unindented means the if/else is over, and we're back to our regularly scheduled programming.")

So glad you made it today!
Wherever you go, there you are.
Unindented means the if/else is over, and we're back to our regularly scheduled programming.

In [45]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [46]:
thislist

['apple', 'banana', 'cherry']

In [47]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [48]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [50]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [56]:
list1

['apple', 'banana', 'cherry']

In [52]:
list2

[1, 5, 7, 9, 3]

In [53]:
list3

[True, False, False]

In [57]:
print(list1, list2, list3)

['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3] [True, False, False]

In [58]:
list1 = ["abc", 34, True, 40, "male"]

In [59]:
list1

['abc', 34, True, 40, 'male']

In [60]:
type(list1)

list

In [61]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [62]:
# List constructor list()

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [63]:
custom_list = list(('Bo', 1, 5, 6, "$$"))

In [64]:
custom_list

['Bo', 1, 5, 6, '$$']

In [65]:
custom_list = ['Bo', 1, 5, 6, "$$"]

In [66]:
custom_list

['Bo', 1, 5, 6, '$$']

In [68]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [69]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [70]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [71]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [72]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [73]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [74]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [75]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [76]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [77]:
"""If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:"""


#Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [78]:
# Insert Items
# 
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.
# 
# The insert() method inserts an item at the specified index:

# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [79]:
# To add an item to the end of the list, use the append() method:
# Example
# 
# Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [80]:
# To append elements from another list to the current list, use the extend() method.
# Example
# 
# Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [81]:
# The remove() method removes the specified item.

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [82]:
# The pop() method removes the specified index.

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [83]:
# If you do not specify the index, the pop() method removes the last item.

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [84]:
# The clear() method empties the list.
# The list still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [87]:
# Tuple items are ordered, unchangeable, and allow duplicate values.
#Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [88]:
# Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [89]:
# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [90]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [91]:
# Tuple items can be of any data type:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [93]:
# A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

In [94]:
# It is also possible to use the tuple() constructor to make a tuple.
# Example:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [95]:
# You can access tuple items by referring to the index number, inside square brackets:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [96]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
# 
# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

# Example:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [97]:
# Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.
# 
# 1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), # and convert it back into a tuple.

# 2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new # tuple with the item(s), and add it to the existing tuple:

# Example:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [99]:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

# Example:

fruits = ("apple", "banana", "cherry")

In [100]:
# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

# Example:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [101]:
# Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

# If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

# Example:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [102]:
# If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

# Example:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [103]:
# A set is a collection which is unordered, unchangeable*, and unindexed.

# Note: Set items are unchangeable, but you can remove items and add new items unlike tuples.

# Sets are written with curly brackets.

# Note: Sets are unordered, so you cannot be sure in which order the items will appear.

# Example:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [104]:
# Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
# Unchangeable
# 
# Set items are unchangeable, meaning that we cannot change the items after the set has been created.
#Once a set is created, you cannot change its items, but you can remove items and add new items.

In [105]:
# Sets cannot have two items with the same value.

# Example:

# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [106]:
# Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [107]:
# It is also possible to use the set() constructor to make a set.

# Example:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [108]:
# Dictionaries are used to store data values in key:value pairs.
# 
# A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
# 
# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries were unordered.
# 
# Dictionaries are written with curly brackets, have keys and values:

# Example:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [109]:
# Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

# Example:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [110]:
# Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
# Duplicates Not Allowed
# 
# Dictionaries cannot have two items with the same key:

# Example:

# "year": 1964, will be ignored.    

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,         
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [114]:
# The values in dictionary items can be of any data type:
# Example:

thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [115]:
# It is also possible to use the dict() constructor to make a dictionary.
# Example:

thisdict = dict(name = "John", age = 36, country = "Norway") # No double braces (())
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [117]:
# You can access the items of a dictionary by referring to its key name, inside square brackets:

# Example:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [118]:
x

'Mustang'

In [119]:
# There is also a method called get() that will give you the same result:

# Example:

x = thisdict.get("model")

In [120]:
x

'Mustang'

In [121]:
# The keys() method will return a list of all the keys in the dictionary.

# Example:

x = thisdict.keys()

In [122]:
x

dict_keys(['brand', 'model', 'year'])

In [123]:
# The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

# Example:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [124]:
# The values() method will return a list of all the values in the dictionary.
# Example:

x = thisdict.values()

In [125]:
x

dict_values(['Ford', 'Mustang', 1964])

In [126]:
# The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

# Example:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [127]:
# The items() method will return each item in a dictionary, as tuples in a list.

# Example:

x = thisdict.items()

In [128]:
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [129]:
# The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

# Example:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [131]:
# You can change the value of a specific item by referring to its key name:

# Example:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [132]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [134]:
# The update() method will update the dictionary with the items from the given argument.
# 
# The argument must be a dictionary, or an iterable object with key:value pairs.

# Example

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [135]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [136]:
# There are several methods to remove items from a dictionary:

# Example:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [137]:
# The popitem() method removes the last inserted item (in python versions before 3.7, a random item is removed instead).

# Example:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [138]:
# The del keyword removes the item with the specified key name:

# Example:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [139]:
# The del keyword can also delete the dictionary completely:

# Example:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [140]:
# The clear() method empties the dictionary.

# Example:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}